


<p>book-list works!</p>
<!--<div *ngIf="selectedBook">-->
<!--  <h2>-->
<!--    {{selectedBook.name | uppercase}} was selected-->
<!--  </h2>-->
<!--  <button (click)="gotoDetail()">View Details</button>-->
<!--</div>-->

<h2>Books</h2>
<ol class="books">
<!--  <li *ngFor="let book of books ">-->
<li *ngFor="let b of books">

  {{b.title}}


</li>
<!--  </li>-->
</ol>
